<h1 *ngIf="listUsers">Displaying {{listUsers.length}} users</h1>

<div class="main-content">

    <mat-card class="list-users" *ngFor="let user of listUsers">
        <mat-card-content><span class="idspan">{{user.id}} </span>
            <span class="username">{{user.name}}</span>
            | <a class="action-link" [routerLink]="['/users/view', user.id]">view</a>
            | <a class="action-link" [routerLink]="['/users/edit', user.id]">Edit</a>
            | <a class="action-link" [routerLink]="['/users/delete', user.id]">Delete</a></mat-card-content>
    </mat-card>

</div>